body {
  background-color: #F3F1F0;
  color: #1C3954;
  font-family: 'Libre Baskerville', serif;
  margin-left: 2em;
  margin-right: 2em;
}

#logo {
  display: inline-block;
  margin: inherit;
  width: 10%;
  padding: 0.5em;
}

#sign_up {
  float: right;
  top: 700px;
  background-color: #D64A29;
  color: #F3F1F0;
  padding: 0.5em;
  margin-right: 0.5em;
  border-radius: 25px;
  font-size: 14px;
  font-family: 'Libre Baskerville', serif;
  font-weight: lighter;
  display: inline-block;
}

#log_in {
  float: right;
  top: 700px;
  background-color: #F3F1F0;
  color: #D64A29;
  padding: 0.5em;
  border-radius: 25px;
  font-size: 14px;
  font-family: 'Libre Baskerville', serif;
  font-weight: lighter;
  display: inline-block;
}

#header {
  margin: auto;
}

.nav {
  text-align:center;
  border: 1px solid #1C3954;
}

.nav a {
  display: inline-block;
  margin: 0 2em;
  padding: 10px 20px 10px 20px;
  font-size: 25px;
  font-family: 'Cinzel', serif;
  color: #D64A29;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

#home {
  color: #1C3954;
}

.intro {
  display: block;
}

#dr_who {
  position: relative;
  width: 100%;
}

#start {
  position: absolute;
  top: 8em;
  position: absolute;
  display: block;
  width: 8.59em;
  color: #D64A29;
  margin-left: 2.28em;
  letter-spacing: 0.038em;
  line-height: 1.3em;
  font-size: 40px;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.8);
  padding: 0.3em 0.6em 0.009em 0.6em;
}

#discover {
  position: absolute;
  font-family: 'Libre Baskerville', serif;
  top: 15.9em;
  width: 13.65em;
  rgba: #1C3954;
  margin-left: 3.65em;
  line-height: 1.5em;
  letter-spacing: 0.038em;
  font-size: 25px;
  background-color: rgba(255,255,255,0.8);
  padding: 0.01em 0.8em 0.6em 1.2em;
}

#learn_more {
  position: absolute;
  top: 24em;
  margin-left: 6.8em;
  background-color: #D64A29;
  color: #F3F1F0;
  padding: 1em 1em 1em 1em;
  border-radius: 125px;
  font-size: 25px;
  font-family: Helvetica;
  font-weight: lighter;
  display: block;
}

#hero {
  display: block;
  position: relative;
  vertical-align: top;
  width: 100%;
}

#herotitle {
  position: absolute;
  display: block;
  top: 20.3em;
  width: 8.59em;
  color: #D64A29;
  margin-left: 2.28em;
  letter-spacing: 0.038em;
  line-height: 1.3em;
  font-size: 40px;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.8);
  padding: 0.3em 0.6em 0.009em 0.6em;
}

#herodescription {
  position: absolute;
  top: 37.47em;
  width: 13.65em;
  rgba: #1C3954;
  margin-left: 3.65em;
  line-height: 1.5em;
  letter-spacing: 0.038em;
  font-size: 25px;
  background-color: rgba(255,255,255,0.8);
  padding: 0.01em 0.8em 0.6em 1.2em;
}

#recipe_button {
  position: absolute;
  top: 47.7em;
  margin-left: 6.8em;
  background-color: #D64A29;
  color: #F3F1F0;
  padding: 1em 1em 1em 1em;
  border-radius: 125px;
  font-size: 25px;
  font-family: Helvetica;
  font-weight: lighter;
  display: block;
}

#awesome {
  color: #D64A29;
}

.filter {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
  display: block;
  vertical-align: top;
  width: 100%;
  text-align: center;
  padding-bottom: 2em;
}

.dropdown1 {
  font-size: 14px;
  position: relative;
  border: 1px solid #1C3954;
  display: inline-block;
  background: #F3F1F0;
  vertical-align: top;
  padding: 0px 15px 0px 10px;
}

.dropdown1 p {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: 'Libre Baskerville', serif;
  padding: 0px 15px 0px 10px;
}

.dropdown1_content {
  list-style-type: none;
  display: none;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: 'Libre Baskerville', serif;
  background-color: #F3F1F0;
  min-width: 160px;
  padding: 0px 15px 0px 10px;
  z-index: 1;
}

.dropdown1:hover .dropdown1_content {
  display: block;
}

.dropdown2 {
  font-size: 14px;
  border: 1px solid #1C3954;
  position: relative;
  display: inline-block;
  background: #F3F1F0;
  padding: 0px 15px 0px 10px;
  vertical-align: top;
  margin-right: 1em;
}

.dropdown2 p {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: 'Libre Baskerville', serif;
  padding: 0px 15px 0px 10px;
  color: #F3F1F0;
}

.dropdown2_content {
  list-style-type: none;
  display: none;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: 'Libre Baskerville', serif;
  background-color: #F3F1F0;
  color: #1C3954;
  min-width: 160px;
  padding: 0px 15px 0px 10px;
  z-index: 1;
}

.dropdown2:hover .dropdown2_content {
  display: block;
}

#search_button {
  background-color: #D64A29;
  color: #F3F1F0;
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
  font-weight: lighter;
  display: inline-block;
  vertical-align: top;
}

.features {
  display: inline-block;
  vertical-align: top;
}

.board {
  display: inline-block;
  border: 1px solid #979797;
  border-radius: 1.5625em;
  color: #D64A29;
  font-size: 25px;
  width: 350px;
  height: 350px;
  text-align: center;
  padding: 50px 50px 50px 50px;
  vertical-align: top;
}

.new {
  display: inline-block;
  border: 1px solid #979797;
  border-radius: 1.5625em;
  color: #D64A29;
  font-size: 25px;
  width: 350px;
  height: 350px;
  text-align: center;
  padding: 50px 50px 50px 50px;
  vertical-align: top;
}

.subscribe {
  display: inline-block;
  border: 1px solid #979797;
  border-radius: 1.5625em;
  color: #D64A29;
  font-size: 25px;
  width: 350px;
  height: 350px;
  text-align: center;
  padding: 50px 50px 50px 50px;
  vertical-align: top;
}

.ad {
  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
  display: inline-block;
  border: 1px solid #979797;
  vertical-align: top;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.create_own {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 1.5625em;
  padding: 2em 1em 1em 4em;
  height: 65em;
  width: 80em;
  max-width: 600em;
  border: 3px solid #979797;
}

#go_ahead {
  vertical-align: top;
  margin-bottom: 40px;
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
}

#butterbeer {
  position: absolute;
  width: 400px;
  height: 300px;
  vertical-align: top;
  display: inline-block;
}

#groot {
  margin-left: 425px;
  position: absolute;
  width: 400px;
  height: 350px;
  vertical-align: top;
  display: inline-block;
}

#buffy {
  margin-top: 325px;
  position: absolute;
  width: 400px;
  height: 400px;
  vertical-align: top;
  padding: 10px 30px 0px 0px;
  display: inline-block;
}

#tarts {
  margin-left: 850px;
  position: absolute;
  width: 385px;
  height: 250px;
  vertical-align: top;
  display: inline-block;
}

#pasta {
  position: absolute;
  margin-top: 385px;
  margin-left: 425px;
  width: 400px;
  height: 300px;
  vertical-align: top;
  display: inline-block;
}

#soup {
  position: absolute;
  margin-top: 280px;
  margin-left: 850px;
  width: 385px;
  height: 275px;
  vertical-align: top;
  display: inline-block
}

#meatloaf {
  position: absolute;
  margin-top: 590px;
  margin-left: 850px;
  width: 385px;
  height: 270px;
  vertical-align: top;
  display: inline-block
}

.footer {
    border: 1px solid black;
}

.email {
  float: left;
  vertical-align: top;
}
