body {
  background-color: white;
  color: #1C3954;
  font-family: 'Open Sans', sans-serif;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 2em;
}

#logo {
  display: inline-block;
  width: 15%;
  float: left;
  margin-top: 0.1em;
}

.account {
    float: right;
    margin-right: 2.5em;
    padding-right: 1em;
    vertical-align: top;
}

#sign_up {
  float: right;
  background-color: #D64A29;
  color: #F3F1F0;
  padding: 1em 2em 1em 2em;
  margin-left: 1em;
  margin-right: 0.5em;
  border-radius: 25px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  display: inline-block;
}

#log_in {
  float: right;
  background-color: white;
  color: #1C3954;
  border: 1px solid #1C3954;
  padding: 1em 2em 1em 2em;
  margin-left: 1em;
  border-radius: 25px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  display: inline-block;
}

#header {
  margin: auto;
}

.search_box {
  padding: 0.5em 1em 1em 1em;
  display: block;
}

.searching {
  float: right;
}

.search_1 {
  font-size: 16px;
}

.nav {
  background-color: white;
  padding: 1em 2em 3em 2em;
}

.nav a {
  float: right;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 16px;
  font-family: 'Permanent Marker', cursive;
  color: #1C3954;
  letter-spacing: 0.7px;
}

#intro_box {
  border: 2px solid blue;
  outline: 2px solid black;
  outline-offset: 5px;
}

#dr_who {
  position: relative;
  width: 100%;
  vertical-align: top;
  margin-top: 1em;
}

#start {
  position: absolute;
  top: 5.9em;
  position: absolute;
  display: block;
  width: 8.59em;
  color: #1C3954;
  margin-left: 2.28em;
  letter-spacing: 0.038em;
  line-height: 1.3em;
  font-size: 40px;
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.8);
  padding: 0.3em 0.6em 0.009em 0.6em;
}

#discover {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  top: 12.53em;
  width: 13.65em;
  rgba: #1C3954;
  margin-left: 3.65em;
  line-height: 1.5em;
  letter-spacing: 0.038em;
  font-size: 25px;
  background-color: rgba(255,255,255,0.8);
  padding: 0.01em 0.8em 0.6em 1.2em;
}

#learn_more {
  position: absolute;
  top: 21em;
  margin-left: 6.8em;
  background-color: #D64A29;
  color: #F3F1F0;
  padding: 1em 1em 1em 1em;
  border-radius: 125px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  display: block;
}

#hero {
  display: block;
  position: relative;
  vertical-align: top;
  width: 50%;
}

#herotitle {
  position: absolute;
  display: block;
  top: 17.35em;
  width: 6.5em;
  color: #1C3954;
  margin-left: 2.75em;
  letter-spacing: 0.038em;
  line-height: 1.3em;
  font-size: 35px;
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.8);
  padding: 0.3em 0.6em 0.05em 0.6em;
}

#herodescription {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 36.1em;
  width: 17.45em;
  rgba: #1C3954;
  margin-left: 4.8em;
  line-height: 1.5em;
  letter-spacing: 0.038em;
  font-size: 20px;
  background-color: rgba(255,255,255,0.8);
  padding: 0.5em 0.8em 0.6em 1.2em;
}

#recipe_button {
  border-radius: 25px;
  position: absolute;
  top: 35.5em;
  margin-left: 18em;
  background-color: #D64A29;
  color: #F3F1F0;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  display: block;
}

#awesome {
  color: #D64A29;
}

.filter {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  vertical-align: top;
  width: 100%;
  text-align: center;
  padding-bottom: 2em;
  border: 1px solid #1C3954;
}

.dropdown1 {
  font-size: 14px;
  position: relative;
  border: 1px solid #1C3954;
  display: inline-block;
  background: #F3F1F0;
  vertical-align: top;
  padding: 0px 15px 0px 10px;
}

.dropdown1 p {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 15px 0px 10px;
}

.dropdown1_content {
  list-style-type: none;
  display: none;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  background-color: #F3F1F0;
  min-width: 160px;
  padding: 0px 15px 0px 10px;
  z-index: 1;
}

.dropdown1:hover .dropdown1_content {
  display: block;
}

.dropdown2 {
  font-size: 14px;
  border: 1px solid #1C3954;
  position: relative;
  display: inline-block;
  background: #F3F1F0;
  padding: 0px 15px 0px 10px;
  vertical-align: top;
  margin-right: 1em;
}

.dropdown2 p {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 15px 0px 10px;
  color: #F3F1F0;
}

.dropdown2_content {
  list-style-type: none;
  display: none;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  background-color: #F3F1F0;
  color: #1C3954;
  min-width: 160px;
  padding: 0px 15px 0px 10px;
  z-index: 1;
}

.dropdown2:hover .dropdown2_content {
  display: block;
}

#search_button {
  background-color: #D64A29;
  color: #F3F1F0;
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  display: inline-block;
  vertical-align: top;
}

.features {
  display: inline-block;
  vertical-align: top;
}

.board {
  display: inline-block;
  border: 1px solid #979797;
  border-radius: 1.5625em;
  color: #D64A29;
  font-size: 25px;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 50px 50px 50px 50px;
  vertical-align: top;
}

.new {
  display: inline-block;
  border: 1px solid #979797;
  border-radius: 1.5625em;
  color: #D64A29;
  font-size: 25px;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 50px 50px 50px 50px;
  vertical-align: top;
}

.subscribe {
  display: inline-block;
  border: 1px solid #979797;
  border-radius: 1.5625em;
  color: #D64A29;
  font-size: 25px;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 50px 50px 50px 50px;
  vertical-align: top;
}

.ad {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  border: 1px solid #979797;
  vertical-align: top;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  width: 53.7em;
}

.create_own {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 1.5625em;
  padding: 1em 2em 1em 4em;
  margin: 1px;
  height: 65em;
  width: 79.5em;
  border: 3px solid #979797;
}

#go_ahead {
  vertical-align: top;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

#butterbeer {
  position: absolute;
  width: 400px;
  height: 300px;
  vertical-align: top;
  display: inline-block;
}

#groot {
  margin-left: 425px;
  position: absolute;
  width: 400px;
  height: 350px;
  vertical-align: top;
  display: inline-block;
}

#buffy {
  margin-top: 325px;
  position: absolute;
  width: 400px;
  height: 400px;
  vertical-align: top;
  padding: 10px 30px 0px 0px;
  display: inline-block;
}

#tarts {
  margin-left: 850px;
  position: absolute;
  width: 385px;
  height: 250px;
  vertical-align: top;
  display: inline-block;
}

#pasta {
  position: absolute;
  margin-top: 385px;
  margin-left: 425px;
  width: 400px;
  height: 300px;
  vertical-align: top;
  display: inline-block;
}

#soup {
  position: absolute;
  margin-top: 280px;
  margin-left: 850px;
  width: 385px;
  height: 275px;
  vertical-align: top;
  display: inline-block
}

#meatloaf {
  position: absolute;
  margin-top: 590px;
  margin-left: 850px;
  width: 385px;
  height: 270px;
  vertical-align: top;
  display: inline-block
}

.footer {
    vertical-align: top;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F3F1F0;
    color: #D64A29;
    display: inline-block;
    padding: 2em;
}

.footer a {
    text-align: center;
    padding: 2em;
}

.email {
  float: left;
  vertical-align: top;
}
