body {
  background-color: #F3F1F0;
  color: #1C3954;
}

#sign_up {
    float: right;
    top: 700px;
    background-color: #D64A29;
    color: #F3F1F0;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: lighter;
    display: inline-block;
}

#log_in {
  float: right;
  top: 700px;
  background-color: #F3F1F0;
  color: #D64A29;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  font-size: 15px;
  font-family: Helvetica;
  font-weight: lighter;
  display: inline-block;
}

#logo {
  display: block;
  margin: auto;
  width: 30%;
}

#header {
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  font-family: fantasy;
  margin: auto;
}
nav {
  text-align:center;
  border: 1px solid #1C3954;
}
nav a {
  display:inline-block;
  margin:0 2em;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-family: Georgia;
  color: #D64A29;
  letter-spacing: 0.7px;
}

#home {
  color: #1C3954;
}

#hero {
  display: block;
  position: relative;
  width: 900px;
}

#herotitle {
  position: absolute;
  top: 350px;
  width: 330px;
  color: #D64A29;
  margin-left: 1cm;
  letter-spacing: 1.3px;
  line-height: 1.3;
  font-size: 42px;
  font-family: Georgia;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.8);
  padding: 10px 10px 3px 20px;
}

#herodescription {
  position: absolute;
  top: 474px;
  width: 330px;
  rgba: #1C3954;
  margin-left: 1cm;
  line-height: 1.35;
  letter-spacing: 1.1px;
  font-size: 25px;
  font-family: Helvetica;
  font-weight: lighter;
  background-color: rgba(255,255,255,0.8);
  padding: 3px 10px 15px 20px;
}

#recipe_button {
  position: absolute;
  top: 700px;
  margin-left: 2.98cm;
  background-color: #D64A29;
  color: #F3F1F0;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  font-size: 25px;
  font-family: Helvetica;
  font-weight: lighter;
  display: block;
}

.filter {
  color: #D64A29;
  background-color: #1C3954;
  font-size: 25px;
  font-family: Georgia;
  display: block;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 45px;
  padding: 5px 5px 5px 5px;
  border: 1px solid #1C3954;
}

.dropdown1 {
  border: 1px solid #1C3954;
  position: relative;
  display: inline-block;
  background: #F3F1F0;
  vertical-align: top;
}

.dropdown1 p {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: Helvetica;
  padding: 0px 15px 0px 10px;
  color: #F3F1F0;
}

.dropdown1_content {
  list-style-type: none;
  display: none;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: Helvetica;
  background-color: #F3F1F0;
  color: #1C3954;
  min-width: 160px;
  padding: 0px 15px 0px 10px;
  z-index: 1;
}

.dropdown1:hover .dropdown1_content {
  display: block;
}

.dropdown2 {
  border: 1px solid #1C3954;
  position: relative;
  display: inline-block;
  background: #F3F1F0;
  vertical-align: top;
}

.dropdown2 p {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: Helvetica;
  padding: 0px 15px 0px 10px;
  color: #F3F1F0;
}

.dropdown2_content {
  list-style-type: none;
  display: none;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: Helvetica;
  background-color: #F3F1F0;
  color: #1C3954;
  min-width: 160px;
  padding: 0px 15px 0px 10px;
  z-index: 1;
}

.dropdown2:hover .dropdown2_content {
  display: block;
}

#search_button {
  background-color: #D64A29;
  color: #F3F1F0;
  margin-left: 10px;
  padding: 30px 40px 30px 40px;
  border-radius: 25px;
  font-size: 25px;
  font-family: Helvetica;
  font-weight: lighter;
  display: inline-block;
  vertical-align: top;
}

.features {
  float: left;
  margin-left: 45px;
  margin-top: 45px;
  display: inline-block;
}

.board {
  display: inline-block;
  border: 1px solid #979797;
  border-radius: 25px;
  color: #D64A29;
  background-color: rgba(28,57,84,1);
  font-size: 25px;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 50px 50px 50px 50px;
  vertical-align: top;
}

.new {
  display: inline-block;
  border: 1px solid #979797;
  border-radius: 25px;
  color: #D64A29;
  background-color: rgba(28,57,84,1);
  font-size: 25px;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 50px 50px 50px 50px;
  vertical-align: top;
}

.subscribe {
  display: inline-block;
  border: 1px solid #979797;
  border-radius: 25px;
  color: #D64A29;
  background-color: rgba(28,57,84,1);
  font-size: 25px;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 50px 50px 50px 50px;
  vertical-align: top;
}

.ad {
  font-size: 25px;
  display: inline-block;
  padding: 45px 900px 50px 100px;
  border: 1px solid #979797;
  float: left;
  margin-top: 45px;
  margin-left: 45px;
}

.create_own {
  vertical-align: top;
  position: relative;
  margin-top: 725px;
  margin-left: 45px;
  margin-right: 45px;
  padding: 30px 50px 50px 50px;
  height: 940px;
  border: 3px solid #979797;
}

#go_ahead {
  vertical-align: top;
  margin-bottom: 40px;
}

#butterbeer {
  position: absolute;
  width: 400px;
  height: 300px;
  vertical-align: top;
  display: inline-block;
}

#groot {
  margin-left: 425px;
  position: absolute;
  width: 400px;
  height: 350px;
  vertical-align: top;
  display: inline-block;
}

#buffy {
  margin-top: 325px;
  position: absolute;
  width: 400px;
  height: 400px;
  vertical-align: top;
  padding: 10px 30px 0px 0px;
  display: inline-block;
}

#tarts {
  margin-left: 850px;
  position: absolute;
  width: 385px;
  height: 250px;
  vertical-align: top;
  display: inline-block;
}

#pasta {
  position: absolute;
  margin-top: 385px;
  margin-left: 425px;
  width: 400px;
  height: 300px;
  vertical-align: top;
  display: inline-block;
}

#soup {
  position: absolute;
  margin-top: 280px;
  margin-left: 850px;
  width: 385px;
  height: 275px;
  vertical-align: top;
  display: inline-block
}

#meatloaf {
  position: absolute;
  margin-top: 590px;
  margin-left: 850px;
  width: 385px;
  height: 270px;
  vertical-align: top;
  display: inline-block
}

.email {
  float: left;
  margin-top: 10cm;
}
